body {
    background-color: #FFFDEF;
}
.hed-con {
    background-color: #e5e2ca;
    max-width: none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #c1ba87;
}
.nav-link {
    color: #5f5b41 ;
}
.nav-item{
    margin-left: 7px;
}
.fs-4{
    font-family: 'Italiana';
    font-size: 2rem !important;
    color: #464014;
}
.nav-link:focus, .nav-link:hover {
    color: #464014;
}